/* @import "@material/list/mdc-list"; */

.chat-list-full {
    width: 400px;
    background-color: rgb(217, 234, 240);
}

.head-chat-list {
    background-color:  rgb(172, 222, 240);
    padding: 14px 5px;
}