.message-robot {
    display: flex;
}

.message-user {
    display: flex;
}

.msg {
    border: 2px solid white;
    background-color: white;
}

.msg-author {
    font: 400 16px/16px Roboto;
}

.msg-text {
    font: 400 12px/12px Roboto;
}