.bronStolaWrapper{
    background-image: url('./bron.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: 2rem;
    form{
        @media(max-width:500px){
            .row{
                flex-direction: column;
            }
            
        }
        
    }
    @media(max-width:500px){
        
        background-image:none;
        background-color:black;
    }
    
    
}