@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#root {
    background-color: #67e4eb;
    background-size: auto;
    margin: auto;
    width: 400px;
    height: 500px;
    filter: blur(0.5);
}

h1 {
    font-family: 'Roboto', sans-serif;
    padding: 15px 0;
    background-color: grey;
    width: 400px;
    text-align: center;
    margin: auto;
}