.text-chat {
    width: 500px;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

button {
    width: 500px;
    margin: 5px 0 0 0;
    outline: none;
    border-radius: 10px;
    background-color: white;
}

button:hover {
    background-color: #5181B8;
}

button:active {
    background-color: white;
}