.back {
    flex:0 0 auto;
    background-image: url("./footer_3.jpg");
    max-height: 455px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    div{@media(max-width:768px){
        background-image:none;
        background-color:black;
    }}
}


