.chatBlock {
    width: 500px;
    background-color: lightsteelblue;
    border: 1px solid grey;
}
.chatTitle {
    text-align: center;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
}
.chatBody {
    padding: 10px;
    height: 700px;
}
.chatSendArea {
    background-color: lightskyblue;
    display: flex;
}
.chatTextArea {
    width: 500px;
    resize: none;
    border: none;
}
.chatSendButton {
    padding-right: 10px;
    display: flex;
}
.message-left {
    text-align: left;
    color: darkslategray;
}
.message-right {
    text-align: right;
    color: darkolivegreen;
}