.Body {
    width:90%!important;
    margin:auto;
}
.purpleButton{
    background-color:#9900FF!important;
    border-color:#9900FF!important;
    &:hover{
        box-shadow:2px 5px 20px rgba(0,0,0,0.5);
    }
}
.mainTextContainer p{
    font-size:1.3rem
}