.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 50%;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    border-radius: 3px;
    border: 1px solid black;
}

.layout {
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputSend {
    font-size: 22px;
}

.btnSend {
    font-size: 22px;
}

.allSend {
    display: flex;
    width: 100%;
}